body {
    text-align: center;
    background-color: rgb(229, 238, 238);
}

.main-title {
    max-width: 500px;
    max-height: 100px;
    margin: 25px;
}
/* Pokemon list */

.pokemon-list {
    display: grid;
    width:80%;
    margin:0 auto;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.list-group-item {
    color: rgb(229, 238, 238);
    background-color: rgb(229, 238, 238);
    border: 0px;
}

.pokemon-button {
    width: 200px;
    height: 200px;
}

.loading-message {
    font-size: 15px;
}

.dropdown-toggle {
    margin-left: 10px;
}
.dropdown-menu{
    height:200px;
    overflow-y:auto;
    text-align: center;
}

/* Modal */

.modal-title{
    margin: 0 auto;
    padding-left: 100px;

}

.modal-image {
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
}


 /* Dropdown Button Collors */
.all {
    background-color: whitesmoke;
}
.normal {
    background-color: #a8a77a;
}
.fire {
    background-color: #ee8130;
}
.water {
    background-color: #6390f0;
}
.electric {
    background-color: #f7d02c;
}
.grass {
    background-color: #7ac74c;
}
.ice {
    background-color: #96d9d6;
}
.fighting {
    background-color: #c22e28;
}
.poison {
    background-color: #a33ea1;
}
.ground {
    background-color: #e2bf65;
}
.flying {
    background-color: #a98ff3;
}
.psychic {
    background-color: #f95587;
}
.bug {
    background-color: #a6b91a;
}
.rock {
    background-color: #b6a136;
}
.ghost {
    background-color: #735797;
}
.dragon {
    background-color: #6f35fc;
}
.dark {
    background-color: #705746;
}
.steel {
    background-color: #b7b7ce;
}
.fairy {
    background-color: #d685ad;
}
#searchButton {
    margin-right: 5px;
}
#type-filter {
    background-color: white;
    padding: 6px 12px;
    border-color: rgb(10, 226, 10);
    border-width: 2px;
    border-radius: 5px;
}